title #{title}
//OGMetadata
meta(name='description' content=description)
meta(property='og:locale', content='es_MX')
meta(property='og:type', content='website')
meta(property='og:title', content=title)
meta(property='og:description', content=description)
meta(property='og:url', content=url)
meta(property='og:site_name', content='NFNTO')
meta(property='og:image', content='http://nfnto.com/img/image.png')
meta(property='og:image:type', content='image/jpg')
meta(property='og:image:width', content='1200')
meta(property='og:image:height', content='630')

//Twitter Meta
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content='@nfnto')
meta(name='twitter:creator', content='@jcgaal_')
meta(name='twitter:image', content='http://nfnto.com/img/image.png')
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=description)
meta(name='twitter:url', content=url)

//Meta
<meta name="author" content=url>
<meta name="DC.Creator" content="NFNTO">
<meta name="subject" content=description>
<meta name="Language" content="ES">
<meta http-equiv="Expires" content="never">
<meta http-equiv="CACHE-CONTROL" content="Public">
<meta name="copyright" content="NFNTO 2017">
<meta name="Designer" content="JC Gaal @jcgaal_">
<meta name="Publisher" content="NFNTO>">
<meta name="Revisit-After" content="1 day">
<meta name="distribution" content="Global">
<meta name="city" content="CDMX">
<meta name="country" content="Mexico">
<meta http-equiv="content-language" content="es-mx">
<meta http-equiv="content-style-type" content="text/css">
<meta name="abstract" content="Badass Digital Agency">
<meta name="rating" content="General">
